<section id="company">
	<div class="container">
		<article class="first-row">
			<header class="title">
				<h1><%= t ".title" %></h1>
			</header>
			<div class="span8">
				<div class="text-content">
					<p><%= t ".parragraph1_html" %></p>
					<p><%= t ".parragraph2_html" %></p>
				</div>
			</div>
			<div class="span3" id="scrum">
				<%= image_tag('cleteci-scrumproductowner.png') %>
				<%= image_tag('cleteci-scrummaster.png') %>
			</div>
		</article>
		<article class="second-row">
			<div class="span3 weareagile"></div>
			<div class="span3 postit1">
				<p><%= t ".postit1_html"	%></p>
			</div>
			<div class="span3 postit2">
				<p><%= t ".postit2_html"	%></p>
			</div>
			<div class="span3 sketchedlogo"></div>
		</article>
	</div>
</section>
