<section id="contact"">
	<div class="container">
		<h1>Contáctanos</h1>
		<%= render 'static_pages/contact_form' %>
		<div class="span2 footer-contact">
			<div class="contact-content phone">
				<div class="child-left">
					<%= image_tag("cleteci-phone.png", alt: "Contacto") %>
				</div>			
				<div class="child-right">
					<p>0412-271-1019</p>
					<p>0412-281-3473</p>
					<p>0412-990-7216</p>
				</div>
			</div>
			<div class="clear-content mail">
				<div class="child-left">
					<%= image_tag("cleteci-mail.png", alt: "Correo") %>
				</div>			
				<div class="child-right">
					<%= link_to("info@cleteci.com", "mailto:info@cleteci.com") %>
				</div>
			</div>
			<div class="clear-content mail">
				<div class="child-left">
					<%= image_tag("cleteci-skype.png", alt: "Skype") %>
				</div>			
				<div class="child-right">
					<p>cleteci</p>
				</div>
			</div>
		</div>
		<div class="span12 pull-right logo-footer">
				<%= image_tag("cleteci-logo-big.png", alt: "Cleteci", class: "pull-right") %>
		</div>
	</div>
</section>
