<section id="intro">
	<%= render 'static_pages/carousel' %>
	<div class="content-preview">
		<section class="container">
			<div class="offset1">
				<article class="span5">
					<header>
						<h1>¿Qué hacemos?</h1>
					</header>
					<div class="article-content">
						<ul>
							<li>Desarrollo, mantenimiento y operación de <em class="soft">SOFT</em><em class="ware">WARE</em></li>
							<li>Integración de aplicaciones</li>
							<li>Soluciones para mensajería de texto y listas de correos</li>
							<li>Consultoría IT</li>
							<li>Pruebas automatizadas</li>
							<li>Product Discovery</li>
							<li>Diseño Web</li>
						</ul>
					</div>				
				</article>
			
				<%= link_to("#") do %>
					<article class="span3 content-portfolio">
						<div>
							<header>
								<h1>Portafolio de Servicios</h1>
							</header>
							<%= image_tag('cleteci-folders.png') %>
						<div>
					</article>
				<% end %>
				
				<%= link_to("#nosotros", onclick: 'goTo("company")') do %>
					<article class="span3 content-company">					
						<div>
							<header>
								<h1>Nosotros</h1>
							</header>
							<%= image_tag('cleteci-people.png') %>
						</div>
					</article>
				<% end %>
			</div>
		</section>
	</div>
</section>
