<section id="technology">
	<div class="container blackboard">
		<div class="arrow-tech">
			<%= image_tag "cleteci-arrow-tech.png" %>
			<p id="arrow-msg1"><%= t ".arrow1" %></p>
			<p id="arrow-msg2"><%= t ".arrow2" %></p>
		</div>
		<div class="languages">
			<header class="title">
				<h1><%= t ".title1" %></h1>
			</header>
			<div class="postit" id="tech-msg1">
				<p><%= t ".postit1" %></p>
			</div>
			<div class="postit" id="tech-msg2">
				<p><%= t ".postit2" %></p>
			</div>
			<div class="postit" id="html5"></div> 
			<div class="postit" id="css3"></div> 
			<div class="postit" id="rails"></div> 
			<div class="postit" id="php"></div>
			<div class="postit" id="java"></div> 
			<div class="postit" id="microsoft"></div> 
			<div class="postit" id="oracle"></div>
			<div class="drop-box" id="dashed-box-1"></div>
			<div class="drop-box" id="dashed-box-2"></div> 
			<div class="drop-box" id="dashed-box-3"></div> 
			<div class="drop-box" id="dashed-box-4"></div> 
		</div>
		<div class="agile-tools">
			<header class="title">
				<h1><%= t ".title2" %></h1>
			</header>
			<div class="postit" id="jira""></div> 
			<div class="postit" id="versionone""></div> 
			<div class="postit" id="pivotaltracker""></div> 
			<div class="postit" id="greenhopper""></div> 
			<div class="postit" id="redmine""></div> 
		</div>
	</div>
</section>
