<% provide(:title, "Administrador") %>
<div class="container">	
	<div class="offset3">
		<div class="span6">
		
			<header>
				<h1>M칩dulo de Administraci칩n</h1>
			</header>
		
			<%= form_for(:session, url: sessions_path) do |f| %>

		    <%= f.label :username, "Usuario" %>
		    <%= f.text_field :username %>

		    <%= f.label :password, "Contrase침a" %>
		    <%= f.password_field :password %>

		    <%= f.submit "Iniciar Sesi칩n", class: "btn btn-large btn-primary" %>
		  <% end %>
		</div>
	</div>		
</div>
