<% provide(:title, 'Administrador') %>

<div class="container">

	<div class="span3">
		<header>
			<h1>Nuevo Usuario</h1>
		</header>		
		<%= form_for(@user) do |f| %>
	
			<%= render 'shared/error_messages' %>
			
      <%= f.label :username, "Usuario" %>
      <%= f.text_field :username %>

      <%= f.label :password, "Contraseña" %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "Confirme la contraseña" %>
      <%= f.password_field :password_confirmation %>

      <%= f.submit "Crear Usuario", class: "btn btn-large btn-primary" %>
    <% end %>
	</div>
	
	<div class="span9">
		<h1>Usuarios</h1>

		<ul>
			<% @users.each do |user| %>
				<li>
				  <%= link_to user.username, edit_user_path(user) %>
				  <% if user!=current_user %>
						<div class="pull-right">
							<%= link_to "Eliminar", user, id: "#{user.username}_delete", method: :delete, data: { confirm: "¿Estás seguro que deseas eliminar este usuario?" } %>
						</div>
					<% end %>
				</li>
			<% end %>
		</ul>
	</div>

</div>
