<div class="container">

	<h1>
		<%= @contact.name %> <%= @contact.lastname %>
	</h1>
	<p><%= @contact.email %></p>
	<p><%= @contact.skypeid %></p>
	<p><%= @contact.phone %></p>
	<p><%= @contact.wish_info %></p>

</div>

