<li class="dropdown">
	<a class="dropdown-toggle" data-toggle="dropdown"><%= t(".admin") %><b class="caret"></b></a>
	<ul class="dropdown-menu">
		<%= link_to( t(".appointments"), appointments_path) %>
		<%= link_to( t(".contacts"), contacts_path) %>
		<%= link_to( t(".users"), users_path) %>				
		<%= link_to( t(".logout"), logout_path, method: "delete") %>									
	</ul>
</li>
