<footer class="container">
	<div class="navbar">
		<div class="navbar-inner">
			<div class="container">
				<nav>
					<ul class="nav">
						<li><%= link_to("Home", "#") %></li>
						<li><%= link_to("Nosotros", "#") %></li>
						<li><%= link_to("Portafolio", "#") %></li>
						<li><%= link_to("Tecnología", "#") %></li>
						<li><%= link_to("Contáctanos", "#") %></li>
						<li><%= link_to("Emprende con Nosotros", "#") %></li>
					</ul>
				<nav>
			</div>
		</div>
	</div>
</footer>
