<footer class="cross-bar">
	<div class="container">
	
		<div class="navbar">
			<div class="navbar-inner">
				<div class="container">
					<nav>
						<ul class="nav pull-left nav-footer">
							<li>
								<%= link_to("NOSOTROS", "#") %>
								<ul>
									<li><a>Equipo</a></li>
									<li><a>Valores</a></li>
								</ul>
							</li>
							<li><%= link_to("PORTAFOLIO", "#") %></li>
							<li><%= link_to("TECNOLOGÍA", "#") %></li>
							<li><%= link_to("CONTÁCTANOS", "#") %></li>
							<li><%= link_to("EMPRENDE CON NOSOTROS", "#") %></li>
						</ul>
					<nav>
				</div>
			</div>
		</div>
		
	</div>
</footer>
