<footer>
	<div>
		<nav>
			<ul>
				<li><%= link_to("Home", "#") %></li>
				<li><%= link_to("Productos", "#") %></li>
				<li><%= link_to("Servicios", "#") %></li>
				<li><%= link_to("Tecnologías", "#") %></li>
				<li><%= link_to("Portafolio", "#") %></li>
				<li><%= link_to("Quiénes somos?", "#") %></li>
				<li><%= link_to("Contáctanos", "#") %></li>
			</ul>
		<nav>
	</div>
</footer>
