<header class="cross-bar">
	<div class="container">
				
		<!-- Navigation Bar -->
		<div class="navbar">
			<%= link_to image_tag("cleteci-logo.png", alt: "Cleteci", class: "brand"), root_path %>				
			<div class="navbar-inner">			
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				  <span class="icon-bar"></span>
				  <span class="icon-bar"></span>
				  <span class="icon-bar"></span>
				</a>					    	
				<nav Class="nav-collapse">		
					<ul class="nav pull-right">
						<li class="active"><%= link_to("INICIO", root_path) %></li>
						<!-- <li class="divider-vertical"></li> -->
						<li><%= link_to("NOSOTROS", "#") %></li>
						<li><%= link_to("PORTAFOLIO", "#") %></li>						
						<li><%= link_to("TECNOLOGÍA", "#") %></li>
						<li><%= link_to("CONTÁCTANOS", contacts_path) %></li>
						<li><%= link_to("EMPRENDE CON NOSOTROS", "#") %></li>
						<% if logged_in? %>
							<%= render 'layouts/admin' %>
						<% end %>
					</ul>
				</nav>
			</div>
		</div>		
		
	</div>
</header>
